.seccion_buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 10px solid black; */
}
.container {
    display: block;
    height: 70vh;
    /* border: 10px solid black; */
}
.seccion_datos {
    margin-top: 20px;
    /* border: 10px solid black; */
}
.acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}